.home-hero {
    padding: 0 0 66px 0;

    &__banners {
        display: flex;
        gap: 20px;

        &-left-side {
            border-radius: 10px;

            @media screen {
                @media (min-width: 992px) {
                    width: calc(100% - 396px);
                }

                @media (max-width: 991px) {
                    width: 100%;
                }
            }
        }

        &-right-side {
            display: flex;
            flex-direction: column;
            gap: 20px 0;
            flex-shrink: 0;
            
            @media screen {
                @media (min-width: 992px) {
                    width: 396px;
                }

                @media (max-width: 991px) {
                    display: none;
                }
            }
        }
    }

    &__banner {
        display: flex;
        align-items: center;
        background-color: #e8f4ff;
        font-size: 20px;
        border-radius: 10px;

        @media screen {
            @media (max-width: 1299px) {
                font-size: 16px;
            }
        }

        &--large {
            position: relative;
            height: 100%;
            padding: 50px;

            .home-hero__banner-image {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            @media screen {
                @media (max-width: 991px) {
                    min-height: 600px;
                    padding: 50px;
                }

                @media (max-width: 768px) {
                    padding-left: 30px;
                    padding-right: 30px;
                }

                @media (max-width: 575px) {
                    padding: 50px 16px;
                }
            }

            .home-hero__banner-text {
                max-width: 67%;
                isolation: isolate;

                @media screen {
                    @media (max-width: 575px) {
                        max-width: 80%;
                    }
                }
            }
        }

        &--small {
            flex-grow: 1;
            padding: 39px 24px;
            padding-right: 100px;
        }

        &-heading {
            margin: 0 0 11px 0;
            line-height: 40px;
            font-size: 28px;
            text-transform: uppercase;
            
            @media screen {
                @media (max-width: 1299px) {
                    line-height: 32px;
                    font-size: 22px;
                }
            }

            &.fz-36 {
                line-height: 54px;
                font-size: 36px;

                @media screen {
                    @media (max-width: 1299px) {
                        line-height: 46px;
                        font-size: 28px;
                    }
                }
            }
        }

        &:not(:has(p)) {
            .home-hero__banner-heading {
                margin: 0;
            }
        }

        p {
            margin: 0;
        }

        .btn {
            margin-top: 24px;
        }
    }

    .swiper {
        height: 100%;
        border-radius: 10px;
        
        .swiper-pagination {
            position: absolute;
            left: 50%;
            bottom: 24px;
            margin: 0;
            transform: translateX(-50%);
        }

        .swiper-wrapper {
            border-radius: 10px;
        }
    }

    .benefits-bar.swiper {
        margin-bottom: 30px;
    }
}