.logo-swiper {
    padding: 64px 0;

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        padding: 10px;
        background-color: #F6F6F6;
        border-radius: 8px;

        @media screen {
            @media (max-width: 991px) {
                height: 65px;
                padding: 20px;
            }
        }
    }
}