.post-item {
    position: relative;
    min-height: 344px;
    border-radius: 8px;

    &__image {
        display: flex;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all .3s ease-in-out;
            border-radius: 8px;
        }

        &:hover {
            img {
                opacity: 0.9;
                transform: scale(1.05);
            }
        }
    }

    &__title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 30px 20px 20px 20px;
        background: linear-gradient(0deg, #191919 0%, rgba(25, 25, 25, 0) 100%);
        line-height: 28px;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        text-decoration: underline;
        text-decoration-color: #898989;
        text-decoration-thickness: 1px;
        border-radius: 0 0 8px 8px;
        z-index: 1;

        @media screen {
            @media (max-width: 575px) {
                font-size: 18px;
            }
        }
    }
}