.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #E9E9E9;
    background-color: #fff;
    border-radius: 8px;

    @media screen {
        @media (min-width: 992px) {
            &::before {
                content: "";
                position: absolute;
                height: calc(100% + 54px);
                width: 100%;
                background-color: #fff;
                box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease;
                border-radius: 8px;
            }            
        }
    }

    &__media {
        position: relative;
        overflow: hidden;
        border-radius: 8px 8px 0 0;

        &-image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-bottom: 1px solid #E9E9E9;
            overflow: hidden;
            border-radius: 8px 8px 0 0;

            @media screen {
                @media (min-width: 769px) {
                    height: 292px;
                }
            }

            img { 
                transition: transform 0.3s ease-in-out;
                border-radius: 8px 8px 0 0;
            }

            &:hover {
                img {
                    transform: scale(1.05);
                   
                }
            }
        }

        .yith-wcwl-add-to-wishlist {
            position: absolute;
            top: 8px;
            right: 8px;
            transition: all 0.3s ease-in-out;
            z-index: 1;

            @media screen {
                @media (min-width: 992px) {
                    opacity: 0;
                    visibility: hidden;
                    transform: scale(0);
                }
            }

            .yith-wcwl-add-button {
                width: 44px;
                height: 44px;
                background: url('../images/icons/wishlist-icon.svg') center center no-repeat;
                cursor: pointer;

                @media screen {
                    @media (max-width: 575px) {
                        width: 32px;
                        height: 32px;
                        background-size: contain;
                    }
                }

                .fa {
                    display: none;
                }
            }
        }
    }

    &__badges {
        position: absolute;
        top: 8px;
        left: 8px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        pointer-events: none;

        svg, img {
            @media screen {
                @media (max-width: 575px) {
                    max-width: 32px;
                }
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: 16px;
        isolation: isolate;

        @media screen {
            @media (max-width: 575px) {
                padding: 12px;
            }
        }
    }

    &__title {
        display: block;
        margin: 0 0 12px 0;
        line-height: 24px;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media screen {
            @media (max-width: 575px) {
                margin: 0 0 8px 0;
            }
        }

        a {
            color: #323232;

            &:hover {
                color: #005197;
            }
        }
    }

    &__description {
        margin: 0 0 12px 0;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__meta {
        margin: 0 0 8px 0;
        font-size: 12px;
        color: #323232;

        li {
            position: relative;
            padding: 0 0 0 13px;

            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 0;
                width: 4px;
                height: 4px;
                background-color: #828282;
                border-radius: 50%;
            }

            strong {
                font-weight: 600;
            }

            a {
                color: #005CA9;
                font-weight: 600;
                text-decoration: underline;
                text-transform: uppercase;

                &:hover {
                    color: #005197;
                    text-decoration: none;
                }
            }
        }
    }

    &__price-holder {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        padding: 8px 0 0 0;
        border-top: 1px solid #E9E9E9;
    }

    &__price {
        line-height: 28px;
        font-size: 20px;
        font-weight: 700;
        color: #323232;

        @media screen {
            @media (max-width: 575px) {
                line-height: 24px;
                font-size: 16px;
            }
        }

        &--discount {
            font-size: 16px;
            font-weight: 600;

            span {
                font-size: 20px;
                font-weight: 700;
                color: #D40329;
            }
        }

        &-info {
            font-size: 14px;
            letter-spacing: 0.03em; 
        }
    }

    .add_to_cart_button {
        position: absolute;
        top: calc(100% - 10px);
        left: 16px;
        right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        padding: 0 40px;
        border: 0;
        background: #0067B0;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
        text-decoration: none;
        text-align: center;
        opacity: 0;
        visibility: hidden; 
        transition: background 0.3s ease-in-out;
        border-radius: 8px;

        @media screen {
            @media (max-width: 991px) {
                display: none;
            }
        }
       
        &:active,
        &:not(:disabled):not(.disabled):active {
            background: darken(#0067B0, 8%);
            color: #fff;
        }

        &:hover {
            background: darken(#0067B0, 5%);
            color: #fff;
        }  
    }

    &:hover {
        &:has(.add_to_cart_button) {
            @media screen {
                @media (min-width: 992px) {
                    z-index: 2;

                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }

                    .yith-wcwl-add-to-wishlist {
                        opacity: 1;
                        visibility: visible;
                        transform: scale(1);

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    .add_to_cart_button {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}